/* FONT */

body {
  font-family: "WorkSans", "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

/* BUTTONS */

.btn {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
}

.btn:focus, .btn.focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  color: #fff;
  background-color: #53963e;
  border: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #53963e;
  border: none;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #53963e;
  border: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #53963e;
  border-color: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #53963e;
  border: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* FORM */

.form-control:focus {
  border-color: #53963e;
  box-shadow: none;
}

.col-form-label-lg {
  font-family: 'Worksans-Medium'
}

/* CUSTOM */

#header {
  margin-bottom: 30px;
}

.logo {
  width: 168px;
}

#logo {
    position: absolute;
    top: 23px;
    left: 48px;
}
@media (max-width: 576px) {
  #logo {
    height: 0px;
  }
}

@media (min-width: 576px) {
  #logo-mobile {
    height: 0px;
  }
}

#logo-container {
  padding-top: 15px;
}
@media (min-width: 576px) {
  #logo-container {
    height: 0px;
    padding-top: 0px;
  }
}

#title {
  color: black;
  font-family: 'Adieu';
  font-style: bold;
  font-size: 45px;
  align: center;
  padding-top: 5px;
}
@media (min-width: 576px) {
  #title {
    padding-top: 0px;
  }
}

#description {
  color: black;
  margin: 20px 0px;
}

#app-container {
  padding: 10px 40px;
}

#form-container {
  margin: 20px 10px;
}

#results-container {
  padding: 10px 30px;
}
